#container {
    display: flex;
    justify-content: center;
}

#balloon {
    width: 300px;
    height: 400px;
    background-image: url('https://www.citypng.com/public/uploads/preview/-41605488105q477dyljlv.png');
    background-size: contain;
    cursor: pointer;
}

#balloon.popped {
    background-image: url('https://images.freeimages.com/images/large-previews/76d/popped-balloon-3-1549315.jpg');
  }
  