img {
    height: 100px;
    width: 100px;
}

div:nth-of-type(1) {
    border: 5px solid black;
    margin: 50px;
    padding: 40px;
    display: block;
    transform: rotate(5deg);
    transform: translate(-25px);
    transform: skewX(10deg);
    transform: scale(1);
    background: #ff0000 url('https://static01.nyt.com/images/2021/09/14/science/07CAT-STRIPES/07CAT-STRIPES-mediumSquareAt3X-v2.jpg') no-repeat center;
    background-repeat: repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}

div:nth-of-type(2) {
    position: static;
}

* {
    background-color: #FFFFFF;
}

h5, h6 {
    text-transform: uppercase;
    color: darkorange;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 200, 0);
    text-decoration: underline;
    font-size: 30px;
    display: inline;
}

#second-title {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: hsl(210, 100%, 56%);
    text-decoration: line-through;
    font-size: 2em;
}

.third-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #ff0000;
    text-decoration: overline;
    font-size: 2vh;
}

div h4 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: hsla(300, 100%, 80%, .9);
    font-weight: normal;
    font-size: 2em;
}

div > h5 {
    color: hsl(60, 100%, 50%);
    font-weight: normal;
    font-size: 200%;
}

br + p {
    color: orange;
    font-size: 200%;
}

sub, sup {
    color: pink;
    font-size: 2em;
}

input[type="button"] {
    color: green;
    text-decoration: underline;
    text-transform: capitalize;
}

input[type="button"]:hover {
    color: red;
    font-size: 2em;
    text-transform: uppercase;
}

input[type="checkbox"]:hover {
    height: 200px;
}

a:hover {
    color: green;
}

p::first-line {
    color: #ff0000;
    background-color: blue;
}

div p {
    color: green;
    font-size: 1.5em;
}

p:nth-of-type(odd) {
    background-color: red;
}

p::before {
    content: "\2022";
}

p::after {
    content: "some random text";
}

li:first-child {
    color: green;
}

li:last-child {
    color: red;
}

li:nth-of-type(3) {
    color: yellow;
}

p {
    position: absolute;

}

@media (max-width: 776px) {
    h1 {
        font-size: 200px;
    }
}

@media (min-width: 576px) {
    h1, h2, h3, h4, h5, h6 {
       background-color:hsl(0, 0%, 0%);
    }
}

@media (min-width: 992px) and (max-width: 1200) {
    p {
        color: darkgreen;
    }
}