.container { 
    text-align: center;
    padding: 10px;
    margin: 10px;
}

div > button {
    color: red;
    font-weight: bold;
}

.balloon {
    width: 120px;
    height: 160px;
    background-color: #FF6384;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.balloon::before {
    content: "" ;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid #FF6384; /*balloon color */
}


  
  

  
  
  
  
  
  
  
  
  
  
